.Container {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  width: 50%;
  gap: 1em;
  * {
    color: white;
  }
}
.Box {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: space-between;
  @media screen and (max-width: 768px) {
    justify-content: initial;
    gap: 1em;
  }
}
@media screen and (max-width: 768px) {
  .Container {
    width: 20em;
  }
}
