.logo {
  width: 3em;
  height: 3em;
}
.AppBar {
  background-color: transparent;
  position: sticky;
  padding: 1em;
}
.Toolbar {
  display: "flex";
  justify-content: space-between;
  align-items: center;
}
.linkGroup {
  display: flex;
  gap: 2em;
  * {
    color: white;
    text-decoration: none;
  }
}
