@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  image-rendering: crisp-edges;
}
body {
  height: 100vh;
  background: url("https://vsthemes.org/uploads/posts/2020-04/1586853771_daniel-leone-v7datklzzaw-unsplash-modded.jpg");
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
